[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/zane/Desktop/NumixHolo]
row=5
col=0

[edaf2bd8-937e-4926-a428-befbe690f87c]
row=4
col=0

[3C8B-B87B]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/zane]
row=2
col=0

