[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/zane/Desktop/Code Composer Studio 7.1.0.desktop]
row=1
col=2

[/home/zane/Desktop/nm-connection-editor.desktop]
row=5
col=1

[/home/zane/Desktop/image mobile dcim 566966 t‮fdp.scr]
row=2
col=1

[/home/zane/Desktop/vimrc]
row=6
col=0

[/home/zane/Desktop/asus.pdf]
row=4
col=0

[/home/zane/Desktop/Screenshot from 2016-05-25 14:03:35.png]
row=1
col=1

[/home/zane/Desktop/NumixHolo]
row=0
col=1

[/home/zane/Desktop/Screenshot from 2016-05-02 16:12:31.png]
row=3
col=1

[/home/zane/Desktop/X360.ttf]
row=4
col=1

[/home/zane/Desktop/evga.pdf]
row=3
col=0

[/home/zane/Desktop/graph.png]
row=5
col=0

[7f593562-9f68-4bb9-a7c9-2b70ad620873]
row=6
col=1

[0EDC-9EC5]
row=0
col=2

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/zane]
row=2
col=0

